* {
    font-family: Raleway;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 12px;
    line-height: 1.5rem;
}

body {
    position: relative;
    z-index: -1;
    background-color: rgb(00, 00, 00);
}

.bodyCover {
    position: fixed;
    top: 50px;
    background-image: url("../images/assets/bg/sequence-9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 25%;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .3;
}

em {
    color: rgb(161, 161, 161);
    line-height: 1.5rem;
    font-size: 1rem;
}

p {
    font-size: 1rem;
    font-weight: 100;
    font-style: normal;
    line-height: 1.6em;
    letter-spacing: 0.06em;
    margin: 0px 0px 1rem 0px;
    color: rgb(223, 222, 222);
}

h3+p {
    color: rgb(199, 198, 198);
}

h1 {
    font-family: Raleway-bold;
    font-size: 3rem;
    font-weight: 900;
    font-style: normal;
    line-height: 1.5em;
    letter-spacing: 0.055em;
    margin: 0px;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
    font-style: normal;
    line-height: 3rem;
    letter-spacing: 0.055em;
    margin: 0px;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
    font-style: normal;
    line-height: 2rem;
    letter-spacing: 0.055em;
    margin: 0px 0px 1rem 0px;
    color: rgb(194, 193, 193);
}

h4 {
    font-size: 1rem;
    font-weight: 300;
    font-style: normal;
    line-height: 2rem;
    letter-spacing: 0.12em;
    margin: 0px 0px 1rem 0px;
    color: rgb(163, 84, 146);
}

button {
    width: 150px;
    margin: 35px auto;
    padding: 12px;
    background: transparent;
    outline: none;
    border: 1px solid rgb(168, 167, 167);
    border-radius: 5px;
    color: rgb(163, 84, 146);
}

nav {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: flex-end;
    padding: 20px 0px 0px 0px;
    width: 94%;
    margin: 0px auto;
}

nav div {
    color: rgb(182, 182, 182);
    font-size: 0.8rem;
    font-weight: 100;
    cursor: pointer;
}

nav div:nth-child(1) {
    margin-right: auto;
}

header {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 350px;
    background: linear-gradient( to bottom, rgba(104, 7, 83, 0.452), rgba(24, 3, 17, 0.377));
    margin-bottom: 40px;
    border-radius: 5px;
    margin: 20px auto;
}

.headBlock {
    display: flex;
    flex-direction: column;
    grid-column: 1/-1;
    grid-row: 3/6;
}

.headBlock * {
    margin: 0px;
    padding: 0px;
}

.pageTitle {
    text-align: center;
    color: rgb(211, 211, 210);
}

.thin {
    font-weight: 100;
    font-size: 1em;
    color: rgb(209, 208, 208);
}

.pageSubTitle {
    text-align: center;
    color: rgb(165, 165, 164);
    font-weight: 300;
    letter-spacing: .06em;
}

.pageSubSubTitle {
    text-align: center;
    color: rgb(167, 164, 166);
    letter-spacing: .06em;
    font-weight: 300;
}

.socLinks {
    display: flex;
    gap: 15px;
    grid-row: 7/8;
    grid-column: 1/-1;
    justify-content: center;
    margin-top: 5px;
}

.socLinks div {
    font-family: "icomoon";
    font-size: 1.7rem;
    display: flexbox;
    color: rgb(165, 165, 164);
    cursor: pointer;
    font-weight: 200;
}

.fb::before {
    content: "\ea91";
}

.tw::before {
    content: "\ea96";
}

.ins::before {
    content: "\ea92";
}

.bodyTitle {
    text-align: center;
    width: 90%;
    max-width: 50ch;
    margin: 0px auto;
    color: #888;
    font-size: 1rem;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
    min-height: 400px;
    width: 100%;
    max-width: 900px;
    margin: 60px auto;
    row-gap: 35px;
    column-gap: 20px;
}

.container>div {
    min-height: 150px;
    min-width: 250px;
    display: flex;
    row-gap: 0px;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: rgb(240, 241, 239);
}

.cell1 {
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 250px;
    padding: 20px 30px 20px 40px;
    min-width: 400px;
    background: linear-gradient( to bottom, rgba(9, 11, 14, 0.6), rgba(2, 4, 14, 0.4));
}

.cell1text {
    max-width: 35ch;
}

.cell2 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    max-width: 350px;
}

.cell2 img {
    object-fit: cover;
}

.more {
    cursor: pointer;
}

.cell3 {
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 250px;
    padding: 20px;
    background: linear-gradient( to bottom, rgba(9, 11, 14, 0.6), rgba(2, 4, 14, 0.4));
}

.cell3Text {
    display: flex;
    flex-direction: column;
    row-gap: 0PX;
    padding: 0px 15px 0px 0px;
    max-width: 550px;
    margin: 0px auto;
}

.cell4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    column-gap: 30px;
    row-gap: 30px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    padding: 40px 0px 40px 0px;
    margin: 0px auto;
    background: none;
}

.cell4-header {
    text-align: center;
    margin: 0px auto;
}

.cell4-cell1 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    min-height: 400px;
    min-width: 300px;
    max-width: 500px;
    flex-grow: 1;
    flex-basis: 400px;
    overflow: hidden;
    padding: 20px;
    border-radius: 5px;
    background: linear-gradient( to bottom, rgba(9, 11, 14, 0.6), rgba(2, 4, 14, 0.4));
}

.cell4-cell1 img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.cell4-cell1 p {
    margin: 0px;
}

.cell4-footer {
    text-align: center;
    max-width: 50ch;
    margin: 0px auto;
    padding: 20px 10px 20px 10px;
}

.footnote {
    margin: 0px auto;
    max-width: 50ch;
    text-align: center;
}

footer {
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
    width: 100%;
    height: 300px;
    background-color: rgb(12, 12, 12);
    margin-top: 100px;
    justify-items: center;
    align-content: center;
}

footer ul li {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(136, 136, 136);
    font-size: .8rem;
    font-weight: 100;
    font-style: normal;
    line-height: 1.6em;
    letter-spacing: .015em;
    margin: .0px;
    cursor: pointer;
}

footer ul {
    grid-column: 2 /4;
    grid-row: 3/5;
}

.footerSocial {
    display: flex;
    gap: 15px;
    grid-row: 2/3;
    grid-column: 3/5;
    justify-content: center;
    margin-top: 5px;
}

.footerSocial div {
    font-family: "icomoon";
    font-size: 1.2rem;
    display: flexbox;
    color: rgb(187, 187, 186);
    cursor: pointer;
    font-weight: 200;
}

.copyright {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(136, 136, 136);
    font-size: .8rem;
    font-weight: 100;
    font-style: normal;
    line-height: 1.6em;
    letter-spacing: .015em;
    margin: .0px;
    grid-row: 5/6;
    grid-column: 1/-1;
    text-align: center;
    display: block;
}

@media screen and (max-width: 500px) {
    header {
        min-height: 100vh;
    }
    .headBlock {
        display: flex;
        flex-direction: column;
        grid-column: 1/-1;
        grid-row: 2/3;
    }
    .headBlock * {
        margin: 0px;
        padding: 0px;
    }
    .socLinks {
        display: flex;
        gap: 25px;
        grid-row: 4/6;
        grid-column: 1/-1;
        justify-content: center;
        margin-top: 5px;
    }
    .socLinks div {
        font-family: "icomoon";
        font-size: 1.5rem;
        color: rgb(187, 187, 186);
        cursor: pointer;
        font-weight: 200;
    }
}